.single-container
  %header.regi-single-header
    %h1
      = link_to '/' do
        =image_tag "/assets/logo-gray.png", class: "regi-single-header__logo"
    %nav.progress-bar
      %ol.clearfix
        %li
          会員情報
          .progress-status
        %li
          電話番号認証
          .progress-status
        %li.active
          お届け先住所入力
          .progress-status
        %li
          支払い方法
          .progress-status
        %li
          完了
          .progress-status
  .regi-main
    .regi-main__header
      %h2 住所入力
    .regi-main__form
      = form_for @user, url: step4_signup_index_path, method: :get do |f|
        = f.fields_for :user_detail, @user.build_user_detail, url: step3_signup_index_path, method: :get do |c|
          .form-group
            %label 郵便番号
            %span.required 必須
            %br
            = c.text_field :postalcode, class: "input-default", placeholder: '例) 123-4567', required: "true"
          .form-group
            %label 都道府県
            %span.required 必須
            %br
            = c.collection_select :prefecture_id, Prefecture.all, :id, :prefecture, {prompt: "--"}, {class: "prefecture-box"}
          .form-group
            %label 市区町村
            %span.required 必須
            %br
            = c.text_field :city, class: "input-default", placeholder: '例) 横浜市緑区', required: "true"
          .form-group
            %label 番地
            %span.required 必須
            %br
            = c.text_field :address, class: "input-default", placeholder: '例) 永田町1-1-1', required: "true"
          .form-group
            %label 建物名
            %span.elective 任意
            %br
            = c.text_field :building, class: "input-default", placeholder: '例) 桃山ビル18階'
          .form-group
            %label 電話
            %span.elective 任意
            %br
            = c.text_field :phone_number, class: "input-default", placeholder: '例) 0901234567'
          .form-group
            = f.submit "次へ進む", class: 'btn'
  = render 'layouts/login_footer'
