= render 'layouts/header'
= render 'layouts/pankuzu'
.main__double-column
  = render 'layouts/sidebar'

  .contents--card
    %p.contents--card-title 支払い方法
    .contents--card__inner
      .contents--card__lists
        %p.contents--card__lists-title クレジットカード一覧
        //表示の切り替えを実装する事
        .contents--card__details
          .contents--card__details-left
            = image_tag(".png", height: '22', width: '26', alt: 'クレジットカードマーク')
            %p ************1234
            %p 01/20
          .contents--card__details-right
            = link_to "削除する", ""
        //表示の切り替えを実装する事
        .contents--card__add
          = link_to "クレジットカードを追加する", ""
      %p.contents--card__inner__payment
        = link_to "支払い方法について", ""

.sellbutton
  = link_to '' do
    %p 出品
    =fa_icon "camera"
= render 'layouts/footer'
