= render 'layouts/header'
.main__visual
.main__single-column
  .content
    / コンテンツ
    = link_to "新規登録", signup_users_path
    = link_to "ログイン", new_user_session_path
    %section
      %h1 ピックアップカテゴリー
      %h2
        = link_to 'レディース新着アイテム', href: ''
      .contents__items
        = link_to '', class: 'contents__items-frame' do
          = image_tag("testimage.jpg", alt: '商品画像')
          %div
            %div 商品名商品名商品名商品名商品名
            %span.price ¥100,000
            %span.likes
              =fa_icon "heart-o"
              139
        = link_to '', class: 'contents__items-frame' do
          = image_tag("testimage.jpg", alt: '商品画像')
          %div
            %div 商品名商品名商品名商品名商品名
            %span.price ¥100,000
            %span.likes
              =fa_icon "heart-o"
              139
        = link_to '', class: 'contents__items-frame' do
          = image_tag("testimage.jpg", alt: '商品画像')
          %div
            %div 商品名商品名商品名商品名商品名
            %span.price ¥100,000
            %span.likes
              =fa_icon "heart-o"
              139
        = link_to '', class: 'contents__items-frame' do
          = image_tag("testimage.jpg", alt: '商品画像')
          %div
            %div 商品名商品名商品名商品名商品名
            %span.price ¥100,000
            %span.likes
              =fa_icon "heart-o"
              139
      .contents__all-items
        = link_to 'すべての商品を見る', ''
    %section
      %h1.pickupbrand ピックアップブランド
      %h2
        = link_to 'シャネル新着アイテム', ''
      .contents__items
        = link_to '', class: 'contents__items-frame' do
          = image_tag("testimage.jpg", alt: '商品画像')
          %div
            %div 商品名商品名商品名商品名商品名
            %span.price ¥100,000
            %span.likes
              =fa_icon "heart-o"
              139
        = link_to '', class: 'contents__items-frame' do
          = image_tag("testimage.jpg", alt: '商品画像')
          %div
            %div 商品名商品名商品名商品名商品名
            %span.price ¥100,000
            %span.likes
              =fa_icon "heart-o"
              139
        = link_to '', class: 'contents__items-frame' do
          = image_tag("testimage.jpg", alt: '商品画像')
          %div
            %div 商品名商品名商品名商品名商品名
            %span.price ¥100,000
            %span.likes
              =fa_icon "heart-o"
              139
        = link_to '', class: 'contents__items-frame' do
          = image_tag("testimage.jpg", alt: '商品画像')
          %div
            %div 商品名商品名商品名商品名商品名
            %span.price ¥100,000
            %span.likes
              =fa_icon "heart-o"
              139
      .contents__all-items
        = link_to 'すべての商品をみる'

.main__foot-visual 
.sellbutton
  = link_to new_item_path do
    %p 出品
    =fa_icon "camera"
= render 'layouts/footer'
