.single-container
  .single-header
    =link_to root_path do
      =image_tag("mercari.jpg")
  .single-main
    .sell-container
      .sell-container__inner
        = form_for(@item) do |f|
          = f.fields_for :item_images do |c|
            .sell-container__inner__head
              %h2
                商品の情報を入力
            .sell-upload-box
              = f.label :image, "出品画像", {class: 'form-label'}
              %span.form-require
                必須
              %p
                最大10枚までアップロードできます。
              .sell-dropbox-container
                %label.image-uploader
                  = c.file_field :image_url
                  .sell-upload-drop-box
                    %p ドラッグアンドドロップ</br>またはクリックしてファイルをアップロード
          .sell-content
            .sell-content--1
              .form-group
                .form-label
                  商品名
                  %span.form-require
                    必須
                %div
                  %input{name: 'item[item_title]', class: 'item-name', placeholder: '商品名（必須40文字まで）'}
              .form-group
                .form-label
                  商品の説明
                  %span.form-require
                    必須
                %textarea{name: "item[description]", class: "item-description", placeholder: "商品の説明（必須1000文字以内）"}

          .sell-content.clearfix
            .sell-content--2
              %h3.sell-sub-head
                商品の詳細
              .sell-form-box
                .form-group
                  = f.label :state, 'カテゴリー', {class: 'form-label'}
                  %span.form-require
                    必須
                  %div
                    .select-wrap
                      %i.icon-arrow-button
                      %select{name: "item[category_id]", class: 'select-default'}
                        %option{:value => "0"}  ---
                        %option{:value => "1"}  レディース
                        %option{:value => "2"}  メンズ
                        %option{:value => "3"}  ベビー・キッズ
                        %option{:value => "4"}  インテリア・住まい・小物
                        %option{:value => "5"}  本・音楽・ゲーム
                        %option{:value => "6"}  おもちゃ・ホビー・グッズ
                        %option{:value => "7"}  コスメ・香水・美容
                        %option{:value => "8"}  家電・スマホ・カメラ
                        %option{:value => "9"}  スポーツ・レジャー
                        %option{:value => "10"}  ハンドメイド
                        %option{:value => "11"}  チケット
                        %option{:value => "12"}  自動車・オートバイ
                        %option{:value => "13"}  その他
                .form-group
                  = f.label :state, 'サイズ', {class: 'form-label'}
                  %span.form-require
                    必須
                  %div
                    .select-wrap
                      %i.icon-arrow-button
                      %select{name: "item[size_id]", class: 'select-default'}
                        %option{:value => "0"}  ---
                        %option{:value => "1"}  S
                        %option{:value => "2"}  M
                        %option{:value => "3"}  L
                        %option{:value => "4"}  25
                        %option{:value => "5"}  26
                        %option{:value => "6"}  27
                .form-group
                  = f.label :state, 'ブランド', {class: 'form-label'}
                  %span.form-require
                    必須
                  %div
                    .select-wrap
                      %i.icon-arrow-button
                      %select{name: "item[brand_id]", class: 'select-default'}
                        %option{:value => "0"}  ---
                        %option{:value => "1"}  A
                        %option{:value => "2"}  B
                        %option{:value => "3"}  C
                        %option{:value => "4"}  D
                        %option{:value => "5"}  E
                        %option{:value => "6"}  F
                .form-group
                  = f.label :state, '商品の状態', {class: 'form-label'}
                  %span.form-require
                    必須
                  %div
                    .select-wrap
                      %i.icon-arrow-button
                      %select{name: 'item[status_id]', class: 'select-default'}
                        %option{:value => "0"}  ---
                        %option{:value => "1"}  新品、未使用
                        %option{:value => "2"}  未使用に近い
                        %option{:value => "3"}  目立った傷や汚れなし
                        %option{:value => "4"}  やや傷や汚れあり
                        %option{:value => "3"}  傷や汚れあり
                        %option{:value => "4"}  全体的に状態が悪い

          .sell-content.clearfix
            .sell-content--3
              %h3.sell-sub-head
                配送について
              = link_to '#', class: 'form-question' do
                ?
              .sell-form-box
                .form-group
                  = f.label :release, "配送料の負担", {class: 'form-label'}
                  %span.form-require
                    必須
                  %div
                    .select-wrap
                      %i.icon-arow-button
                      %select{name: 'item[delivery_fee_payer_id]', class: 'select-default'}
                        %option{:value => "0"}  ---
                        %option{:value => "1"}  送料込み（出品者負担）
                        %option{:value => "2"}  着払い（購入者負担）
                .form-group
                  = f.label :release, "発送元の地域", {class: 'form-label'}
                  %span.form-require
                    必須
                  %div
                    .select-wrap
                      %i.icon-arow-button
                      = f.collection_select :prefecture_id, Prefecture.all, :id, :prefecture, {prompt: "---"}, {class: "select-default"}
                .form-group
                  = f.label :release, "発送までの日数", {class: 'form-label'}
                  %span.form-require
                    必須
                  %div
                    .select-wrap
                      %i.icon-arow-button
                      %select{name: 'item[shipping_day_id]', class: 'select-default'}
                        %option{:value => "0"}  --
                        %option{:value => "1"}  1~2日で発送
                        %option{:value => "2"}  2~3日で発送
                        %option{:value => "3"}  4~7日で発送
                .form-group
                  = f.label :release, "発送方法", {class: 'form-label'}
                  %span.form-require
                    必須
                  %div
                    .select-wrap
                      %i.icon-arow-button
                      %select{name: 'item[delivery_method_id]', class: 'select-default'}
                        %option{:value => "0"}  --
                        %option{:value => "1"}  ゆうパック
                        %option{:value => "2"}  らくらくメルカリ便
                        %option{:value => "3"}  手渡し

          .sell-content
            .sell-content--4
              %h3.sell-sub-head
                販売価格(300〜9,999,999)
              = link_to '#', class: 'form-question' do
                ?
              .sell-form-box
                %ul.sell-price
                  %li.form-group
                    .l-left
                      = f.label :price, '価格'
                      %span.form-require
                        必須
                    .l-right.sell-price-input
                      %input{name: 'item[price]',class: 'input-default-second', placeholder: "例）300"}

              .commision
                .l-left
                  販売手数料 (10%)
                .l-right
                  ー
              .profits
                .l-left
                  販売利益
                .l-right
                  ー
          .sell-content
            .sell-content--5
              %p
                禁止されている出品、行為を必ずご確認ください。</br>
                またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
              .form-group
                = f.submit "出品する", class: "btn btn__red"
                = link_to "もどる", root_path, class: "btn btn__gray"

%footer.single-footer
  %nav
    %ul.clearfix
      %li
        = link_to '' do
          プライバシーポリシー
      %li
        = link_to '' do
          利用規約
      %li
        = link_to '' do
          特定商取引に関する表記
  = link_to '', class: 'single-footer-logo' do
    =image_tag('logo-gray.jpg', width: '80')
  %p
    %small
      © 2019 Mercari

