= render "layouts/header"
.item-detail
  .l-container
    .l-content
      .l-content__container
        %h2.item-detail-name
          = @item.item_title
        .item-content
          .item-content__main-photo
            = image_tag(@item.item_images[0].image_url, width: '135', alt: '商品画像')
          - @item.item_images.each_with_index do |image, i|
            - if i > 0 and i < 4
              .item-content__sub-photo
                =image_tag(image.image_url, alt: '商品画像')
        %table.item-detail-table
          %tbody
            %tr
              %th
                出品者
              %td
                = link_to "", class: 'item-detail-table__link' do
                  = @item.user.nickname
                .item-user-rating
                  =fa_icon "smile-o"
                  38
                  =fa_icon "meh-o"
                  11
                  =fa_icon "frown-o"
                  3
            %tr
              %th
                カテゴリー
              %td
                = link_to @item.category.first_category[:first_category], category_item_path(@item.category.first_category_id), class: 'item-detail-table__link'
                %br
                = link_to @item.category.second_category[:second_category], category_item_path(@item.category.second_category_id), class: 'item-detail-table__link'
                %br
                = link_to @item.category.third_category[:third_category], category_item_path(@item.category.third_category_id), class: 'item-detail-table__link'
            %tr
              %th
                ブランド
              %td
                - unless @item.brand.nil?
                  = link_to @item.brand.brand, brand_item_path(@item.brand_id), class: 'item-detail-table__link'
            %tr
              %th
                商品の状態
              %td
                = @item.status.status
            %tr
              %th
                配送料の負担
              %td
                = @item.delivery_fee_payer.delivery_fee_payer
            %tr
              %th
                配送の方法
              %td
                = @item.delivery_method.delivery_method
            %tr
              %th
                配送元地域
              %td
                = link_to @item.prefecture.prefecture, "", class: 'item-detail-table__link'
            %tr
              %th
                配送の目安
              %td
                = @item.shipping_day.shipping_day
      .item-detail-price
        %span.item-detail-price__bold
          = number_to_currency(@item.price, unit: "￥", precision: 0)
        %span.item-detail-price__tax
          （税込）
        %span.item-detail-price__shipping-fee
          = "#{@item.delivery_fee_payer.delivery_fee_payer}".sub(/\(.*/, '')
      .item-buy-btn
        - if @item.aasm_state == nil || @item.aasm_state == 'waiting'
          .item-buy-btn__red
            = link_to '購入画面に進む', transaction_path(params[:id])
        -else
          .item-buy-btn__gray
            売り切れました
      .item-description
        %p
          = @item.description
      .item-button-container
        .item-button-left
          %button.item-button.item-button-like
            %span.likes
              =fa_icon "heart-o"
            %span
              いいね!
          %button.item-button.item-button-report.clearfix
            %span.report
              =fa_icon 'flag'
            %span
              不適切な商品の報告
        .item-button-right
          %span.icon-lock
            =fa_icon 'lock-alt'
          %span
            あんしん・あんぜんへの取り組み

.item-detail
  .l-container
    .comment-box
      .comment-contents
        =image_tag("icon.jpg", class: "user-image")
        .user-name
          %p
            太郎
        .comment
          どのくらい使用したものでしょうか？
          .comment-date
            ４日前
      .comment-contents
        =image_tag("icon.jpg", class: "user-image")
        .user-name
          %p
          二郎
        .comment
          サイズは何号でしょうか？
          .comment-date
            ３日前
      .comment-contents
        =image_tag("icon.jpg", class: "user-image")
        .user-name
          %p
            三郎
        .comment
          素材は革ですか？ゴムですか？
          .comment-date
            ２日前
    .precautionary-note
      %p
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。    
    %textarea{name: "url"}

    .selling-state
      %h3
        売り切れのためコメントできません

%ul.nav-item-link-prev-next
  %li.nav-item-link-prev
    = link_to '< 前の商品', '' 
  %li.nav-item-link-next
    = link_to '次の商品 >', ''

.item-detail
  .social-media-box
    .icon-box
      %i.fa.fa-facebook
    .icon-box
      %i.fa.fa-twitter
    .icon-box
      %i.fa.fa-line
    .icon-box
      %i.fa.fa-pinterest

.other-items
  .other-item
    %h2
      = "#{@item.user.nickname}さんのその他の出品"
.items-box-content
  %section
    .contents__items 
      - @allitems.where(user_id: @item.user).each_with_index do |item, i|
        - if 0 <= i and i <= 2
          = link_to item_path(item.id), class: 'contents__items-frame' do
            = image_tag(item.item_images[0].image_url, alt: '商品画像')
            %div
              %div
                = item.item_title
              %span.price
                = number_to_currency(item.price, unit: "￥", precision: 0)
              %span.likes
                =fa_icon "heart-o"
                12
    .contents__items 
      - @allitems.where(user_id: @item.user).each_with_index do |item, i|
        - if 3 <= i and i <= 5
          = link_to item_path(item.id), class: 'contents__items-frame' do
            = image_tag(item.item_images[0].image_url, alt: '商品画像')
            %div
              %div
                = item.item_title
              %span.price
                = number_to_currency(item.price, unit: "￥", precision: 0)
              %span.likes
                =fa_icon "heart-o"
                12

.other-items
  .other-item
    %h2
      - if @item.brand.nil?
        = "#{@item.category.third_category[:third_category]} その他の商品"
      - else
        = "#{@item.brand.brand}の#{@item.category.third_category[:third_category]} その他の商品"
.items-box-content
  %section
    .contents__items 
      - if @item.brand.nil?
        - @allitems.where(category_id: @item.category_id).each_with_index do |item, i|
          - if 0 <= i and i <= 2
            = link_to item_path(item.id), class: 'contents__items-frame' do
              = image_tag(item.item_images[0].image_url, alt: '商品画像')
              %div
                %div
                  = item.item_title
                %span.price
                  = number_to_currency(item.price, unit: "￥", precision: 0)
                %span.likes
                  =fa_icon "heart-o"
                  100
      - else
        - @allitems.where(brand_id: @item.brand_id).where(category_id: @item.category_id).each_with_index do |item, i|
          - if 1 <= i and i <= 3
            = link_to item_path(item.id), class: 'contents__items-frame' do
              = image_tag(item.item_images[0].image_url, alt: '商品画像')
              %div
                %div
                  = item.item_title
                %span.price
                  = number_to_currency(item.price, unit: "￥", precision: 0)
                %span.likes
                  =fa_icon "heart-o"
                  100
.main-visual

= render "layouts/footer"
