.purchase
  %header
    = link_to image_tag("logo.svg", alt: 'ロゴマーク'), root_path
  .main
    .main__inner
      %h1
        購入内容の確認
      .main__inner__item
        = image_tag(@item.item_images[0].image_url, alt: '商品画像')
        %p
          = @item.item_title
      .main__inner__price
        %span
          = number_to_currency(@item.price, unit: "￥", precision: 0)
        %span
          = "#{@item.delivery_fee_payer.delivery_fee_payer}".sub(/\(.*/, '')
      %p.main__inner__point
        ポイントはありません
      .main__inner__amount
        %span
          支払い金額
        %span
          = number_to_currency(@item.price, unit: "￥", precision: 0)
      %p.main__inner__app-only
        この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
      = form_tag(action: :pay, method: :post,) do
        %button.main__inner__buy 購入する
      %p.main__inner__app-install
        アプリをお持ちでない方は以下よりインストールしてご利用いただけます。
      %p.main__inner__buyer
        配送先
      %ul.main__inner__buyer-address
        %li
          = "〒#{current_user.user_detail.postalcode}"
        %li
          = "#{current_user.user_detail.prefecture.prefecture}#{current_user.user_detail.city}#{current_user.user_detail.address}"
        %li
          ="#{current_user.user_detail.first_name}#{current_user.user_detail.family_name}"
      %p.main__inner__change
        = link_to '変更する', ""
      %p.main__inner__buyer
        支払い方法
      .main__inner__buyer-payment
        %p
        - if @default_card_information.blank?
          %br /
        - else
          -#以下カード情報を表示
          = "**** **** **** " + @default_card_information.last4
        %p  
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
        = image_tag('', width: '26', height: '22', alt: 'クレジットカード')
        %p.main__inner__change
          = link_to '変更する', new_transaction_path
  %footer
    %ul
      %li
        プライバシーポリシー
      %li
        利用規約
      %li
        特定商取引に関する表記
    = link_to image_tag("logo-gray.jpg", alt: 'ロゴマーク'), root_path ,class: 'footer__logo'
    %p
      © 2019 freemarket
