%header
  .top__search
    = link_to image_tag("logo.png", width: '135', alt: 'ロゴマーク'), root_path, class: 'top__search__logo'
    %form{"accept-charset" => "UTF-8", :action => "", :enctype => "multipart/form-data", :id => "", :method => "post"}
      %input{:placeholder => "何かお探しですか？", :type => "search", :value => ""}/
      %button{:type => "submit"}
        =fa_icon 'search'
  %nav
    .top__navi
      %ul.top__navi--left
        %li
          = link_to "" do
            =fa_icon 'list-ul'
            カテゴリーから探す
          %ul.top__navi--left--first
            %li
              = link_to "レディース", ""
              %ul.top__navi--left--second
                %li
                  = link_to "トップス", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "Tシャツ/カットソー（半袖/袖なし）", ""
                    %li
                      = link_to "Tシャツ/カットソー（七分/長袖）", ""
                    %li
                      = link_to "シャツ/ブラウス（半袖/袖なし）", ""
                    %li
                      = link_to "シャツ/ブラウス（七分/長袖）", ""
                %li
                  = link_to "ジャケット/アウター", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "テーラードジャケット", ""
                    %li
                      = link_to "ノーカラージャケット", ""
                    %li
                      = link_to "Gジャン/デニムジャケット", ""
                %li
                  = link_to "パンツ", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "デニム/ジーンズ", ""
                    %li
                      = link_to "ショートパンツ", ""
                    %li
                      = link_to "カジュアルパンツ", ""
                %li
                  = link_to "スカート", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "ミニスカート", ""
                    %li
                      = link_to "ひざ丈スカート", ""
                    %li
                      = link_to "ロングスカート", ""
                %li
                  = link_to "ワンピース", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "ミニワンピース", ""
                    %li
                      = link_to "ひざ丈ワンピース", ""
                    %li
                      = link_to "ロングワンピース", ""
            %li
              = link_to "メンズ", ""
              %ul.top__navi--left--second
                %li
                  = link_to "トップス", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "Tシャツ/カットソー（半袖/袖なし）", ""
                    %li
                      = link_to "Tシャツ/カットソー（七分/長袖）", ""
                    %li
                      = link_to "シャツ", ""
                %li
                  = link_to "ジャケット/アウター", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "テーラードジャケット", ""
                    %li
                      = link_to "ノーカラージャケット", ""
                    %li
                      = link_to "Gジャン/デニムジャケット", ""
                %li
                  = link_to "パンツ", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "デニム/ジーンズ", ""
                    %li
                      = link_to "ワークパンツ/カーゴパンツ", ""
                    %li
                      = link_to "スラックス", ""
                %li
                  = link_to "靴", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "スニーカー", ""
                    %li
                      = link_to "サンダル", ""
                    %li
                      = link_to "ブーツ", ""
                %li
                  = link_to "バッグ", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "ショルダーバッグ", ""
                    %li
                      = link_to "トートバッグ", ""
                    %li
                      = link_to "ボストンバッグ", ""
                %li
                  = link_to "スーツ", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "スーツジャケット", ""
                    %li
                      = link_to "スーツベスト", ""
                    %li
                      = link_to "スラックス", ""
            %li
              = link_to "ベビー・キッズ", ""
              %ul.top__navi--left--second
                %li
                  = link_to "ベビー服（女の子用）〜95cm", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "トップス", ""
                    %li
                      = link_to "アウター", ""
                    %li
                      = link_to "パンツ", ""
                    %li
                      = link_to "スカート", ""
                %li
                  = link_to "ベビー服（男の子用）〜95cm", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "トップス", ""
                    %li
                      = link_to "アウター", ""
                    %li
                      = link_to "パンツ", ""
                    %li
                      = link_to "おくるみ", ""
                %li
                  = link_to "ベビー服（男女兼用）〜95cm", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "トップス", ""
                    %li
                      = link_to "アウター", ""
                    %li
                      = link_to "パンツ", ""
                    %li
                      = link_to "おくるみ", ""
                %li
                  = link_to "キッズ服（女の子用）100cm〜", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "コート", ""
                    %li
                      = link_to "ジャケット/上着", ""
                    %li
                      = link_to "トップス（Tシャツ/カットソー）", ""
                %li
                  = link_to "キッズ服（男の子用）100cm〜", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "コート", ""
                    %li
                      = link_to "ジャケット/上着", ""
                    %li
                      = link_to "トップス（Tシャツ/カットソー）", ""
                %li
                  = link_to "キッズ服（男女兼用）100cm〜", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "コート", ""
                    %li
                      = link_to "ジャケット/上着", ""
                    %li
                      = link_to "トップス（Tシャツ/カットソー）", ""
            %li
              = link_to "インテリア・住まい・小物", ""
              %ul.top__navi--left--second
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
            %li
              = link_to "本・音楽・ゲーム", ""
              %ul.top__navi--left--second
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
            %li
              = link_to "おもちゃ・ホビー・グッズ", ""
              %ul.top__navi--left--second
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
            %li
              = link_to "コスメ・香水・美容", ""
              %ul.top__navi--left--second
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
            %li
              = link_to "家電・スマホ・カメラ", ""
              %ul.top__navi--left--second
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
            %li
              = link_to "スポーツ・レジャー", ""
              %ul.top__navi--left--second
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
            %li
              = link_to "ハンドメイド", ""
              %ul.top__navi--left--second
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
            %li
              = link_to "チケット", ""
              %ul.top__navi--left--second
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
            %li
              = link_to "自動車・オートバイ", ""
              %ul.top__navi--left--second
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
            %li
              = link_to "その他", ""
              %ul.top__navi--left--second
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                %li
                  = link_to "", ""
                  %ul.top__navi--left--third
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
                    %li
                      = link_to "", ""
            %li
              = link_to "カテゴリー一覧", ""
        %li
          = link_to "" do
            =fa_icon 'tag',class: 'fa-rotate-315'
            ブランドから探す
          %ul.top__navi--left--first
            %li
              = link_to "シャネル", ""
            %li
              = link_to "ナイキ", ""
            %li
              = link_to "ルイヴィトン", ""
            %li
              = link_to "シュプリーム", ""
            %li
              = link_to "アディダス", ""
            %li
              = link_to "ブランド一覧", ""
      %ul.top__navi--right
        %li
          = link_to "" do
            =fa_icon 'heart-o'
            いいね！一覧
        %li
          = link_to "" do
            =fa_icon 'bell-o'
            お知らせ
          %ul.top__navi--right-info
            %li
              = link_to "d1", ""
            %li
              = link_to "d1", ""
            %li
              = link_to "d1", ""
            %li
              = link_to "d1", ""
            %li
              = link_to "d1", ""
        %li
          = link_to "" do
            =fa_icon 'check'
            やることリスト
          %ul.top__navi--right-todo
            %li
              = link_to "現在、やることリストはありません。", ""
        %li
          = link_to "" do
            =fa_icon 'user-circle-o'
            マイページ
          %ul.top__navi--right-mypage
            %div
              =fa_icon 'user-circle-o'
              %p ニックネーム
              %p 評価：0　出品数：1
              %ul
                %li
                  = link_to '' do
                    %span 売上金
                    %span 1000円
                %li
                  = link_to '' do
                    %span ポイント
                    %span 100P
            %li
              = link_to "いいね一覧", ""
            %li
              = link_to "出品した商品-出品中", ""
            %li
              = link_to "出品した商品-取引中", ""
            %li
              = link_to "出品した商品-売却済み", ""
            %li
              = link_to "購入した商品-取引中", ""
            %li
              = link_to "購入した商品-過去の取引", ""