.pankuzu
  .pankuzu-inner
    %p
      = link_to "メルカリ", root_path
      - if  @brand_items.present?
        = @brand_items[0].brand[:brand]
      - elsif @user.present?
        マイページ
      - elsif @first_items.present?
        = "#{@first_items[0].category.first_category[:first_category]}"
      - elsif @second_items.present?
        = link_to "#{@second_items[0].category.first_category[:first_category]}", category_item_path(@second_items[0].category.first_category[:id])
        = "#{@second_items[0].category.second_category[:second_category]}"
      - elsif @third_items.present?
        = link_to "#{@third_items[0].category.first_category[:first_category]}", category_item_path(@third_items[0].category.first_category[:id])
        = link_to "#{@third_items[0].category.second_category[:second_category]}", category_item_path(@third_items[0].category.second_category[:id])
        = "#{@third_items[0].category.third_category[:third_category]}"
